<section id="contact" class="contact bg-primary">
    <div class="container">
        <h3>언제든 편하게</h3>
        <h3></h3>
        <!-- <ul class="list-inline list-social">
            {% for network in site.social %}
            <li class="social-{{ network.title }}">
                <a href="{{ network.url }}" class="btn-social btn-outline"><i class="fa fa-fw fa-{{ network.title }}"></i></a>
            </li>
        {% endfor %}
        </ul> -->
        <ul class="list-inline list-social">
            <li class="social-naver">
                <a href="https://smartstore.naver.com/solarstudio"><i class="fa"><img src="/img/naver-circle.png" class="" style="width: 80px;height: 80px;margin-bottom: 6px;" alt=""></i></a>
            </li>
            <li class="social-instagram">
                <a href="https://www.instagram.com/solar_bbang"><i class="fa fa-instagram"></i></a>
            </li>
            <!-- <li class="social-kakao">
                <a href="http://qr.kakao.com/talk/kp0GpTKm1QqYIBYC_JUxYN1YACI-"><i class="fa">K</i></a>
            </li> -->
            
            <li class="social-kakao">
                
                <a href="http://qr.kakao.com/talk/kp0GpTKm1QqYIBYC_JUxYN1YACI-"><i class="fa"><img src="/img/kakaotalk.svg" class="" style="width: 80px;height: 80px;" alt=""></i></a>
            </li>
            
        </ul>
    </div>
</section>